body{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$DARK:#25274d;
$LIGHTGREY:#afafb5;
$LIGHTBLUE: #69acfb;
$LIGHTPURPLE:#b080e4;
$LIGHTORANGE:#fcbd68;
$BROWN:#8c5102;